<!DOCTYPE html>

    <style>
        .wrapper {
            width: 100%;
            margin-top: 50px;
            overflow: hidden; /* add this to contain floated children */
        }
        .first {
            width: 500px;
            height: 900px;
            overflow-y:scroll;
            margin-left: 100px;
            margin-right: 100px;
            border-right: dotted;
            float: left;
        }
        .second {
            max-width: 600px;
            float: left;
        }
        .lessonImage{
            margin-top: 100px;
            float: left;
        }
    </style>
    
    <body>
        <div class='wrapper'>
            <div class='first'>
                <h2 class='courseTitle'></h2>
                <div class='courseImage'></div>
            </div>
            <div class='second'>
                <h2>Lesson Description</h2>
                <div class='description' style='height: 200px'></div>
                <h3>Lesson Video</h3>
                <div class='lessons'></div>
                <div class='lessonImage'></div>
            </div>
        </div>
        
        <script type='text/javascript' src='/public/swfobject.js'></script>
        <script type="text/javascript" src="/public/ParsedQueryString.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            var courseID = '<%= courseID %>'
            var courseIDZ = "";
            if (courseID < 10) {
                courseIDZ = "0" + courseID;
            } else {
                courseIDZ = courseID;
            }
            $('.courseImage').html("<br><img src='https://account.topchefuniversityapp.com/resources/tcu/images/courses/course_" + courseIDZ + "_icon.jpg'></img>");
            //$.getJSON('http://localhost:9292/courses/' + courseID, function(data) {
               // $.getJSON('http://localhost:9292/singleCourse/' + courseID, function(course) {
            $.getJSON('/courses/' + courseID, function(data) {
                $.getJSON('/singleCourse/' + courseID, function(course) {
                    $('.courseTitle').html(course.title);
                });
                var lessons = $('.first').html();
                var description = $('.second').text();
                $.each(data,function(index,element) {
                    lessons += "<a class='course' href='javascript:void(0)' vidID=\"" + element.id + "\" description=\"" + element.description + "\">" + element.title + "<\a><br>";
                });
                $('.first').html(lessons);
                $('.course').on( "click", function() {
                    var description = $('.description').html();
                    description = $(this).attr('description');
                    $('.description').html(description);
                    $('.lessons').html("<a class='lesson' href='http://localhost:9292/video/" + $(this).attr('vidID') + "'>Watch now!</a>");
                    var lessID = $(this).attr('vidID');
                    if (lessID < 100) {
                        lessID = "0" + lessID;
                        if (lessID < 10) {
                            lessID = "0" + lessID;
                        }
                    }
                    $('.lessonImage').html("<img src='https://account.topchefuniversityapp.com/resources/tcu/images/lessons/TCU_lesson_" + lessID + "_image@2x.png'></img>");
                    $('.description').text(description);
                    $('.lessons').html("<a class='lesson' href='/video/" + $(this).attr('vidID') + "'>Watch now!</a>");
                });
            });
        </script>
    </body>

</html>
