<h1>Courses</h1>
<div class="main-list courses"></div>

<h1>Chefs</h1>
<div class="main-list chefs"></div>
		
<script type ="text/javascript">
	// get list of all courses
	$.getJSON('courses',function(data) {
		var courses = "";
		var url = "";
		$.each(data,function(index,element) {
			url = "https://account.topchefuniversityapp.com/resources/tcu/images/lessons/TCU_lesson_"
			if(element.id < 10) {
				url += "00";
			} else if(element.id < 100) {
				url += "0";
			} else {}
			url += element.id;
			url += "_image@2x.png"
			courses += "<a class='course media' href='course/" + element.id + "' course_id='" + element.id + "'>" + "<img src=" + url + " alt=" +element.id+" class='media__img'>" + "<h2 class='media__body'>" + element.title + "</h2>" + "</a>";
		});
		$(".courses").html(courses);
	});
	
	// Get list of all chefs
 	$.getJSON('chefs',function(data) {
		var chefs = "";
		var url = "";
		$.each(data,function(index,item) {
			url = "https://account.topchefuniversityapp.com/resources/tcu/images/chefs/chef_small_"
			url += item.shortname;
			url += "@2x.png";
			chefs += "<a class='chef' href='chefs/" + item.id + "' chef_name='" + item.id + "'>" + "<img src=" + url + " alt="+ item.shortname+ ">" + item.firstname + " " + item.lastname +  " (" + item.shortname + ") " + "<\a>"; 
		});
		$(".chefs").html(chefs);
	});
</script>
