<!DOCTYPE html>

<style>
    .wrapper {
        width: 100%;
        overflow: hidden; /* add this to contain floated children */
    }
    .first {
        width: 500px;
        height: 900px;
        overflow-y:scroll;
        float:left; /* add this */
        margin-left: 100px;
        margin-right: 100px;
        border-right: dotted;
    }
    .second {
        width: auto;
        float: left; /* add this */
        /*margin-lef: 100px;*/
    }
    .description {
        max-width: 800px;
    }
</style>

    <body>
        <div class='wrapper'>
            <div class='first'>
                <h1 style='margin-left:50px;' class='title'>Lesson Information</h1>
                <div class='meta'></div>
            </div>
            <div class='second'>
                <h1 class='videoTitle'></h1>
                <div id='VideoPlayer'></div>
                <p id='vidDescription' class='description'></p>
            </div>
            <script type='text/javascript' src='/public/swfobject.js'></script>
            <script type="text/javascript" src="/public/ParsedQueryString.js">
            </script>
            <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript">
                var player = null;
                var chefName = "";
                var chefShortName = "";
                var vidID = '<%= videoID %>';
                var hasAccess = false;
                var authArray = <%= session[:authedfor].to_json %>;
                var toCheck = "com.topchefu.iap.lesson.id";
                var jsonVidID = vidID;
                if (vidID < 100) {
                    vidID = "0" + vidID;
                    if (vidID < 10) {
                        vidID = "0" + vidID;
                    }
                }
                toCheck += vidID;
                //console.log(toCheck);
                //console.log(authArray);
                //console.log(authArray[0].product_id);
                
                //console.log(authArray.iap_ids); //UNDEFINED===============================
                for (element in authArray) {
                    //console.log(authArray[element]);
                    //console.log(authArray[element].product_id[0]);
                    if (authArray[element].product_id[0] == toCheck || authArray[element].product_id[0] == "com.topchefu.iap.master.all") {
                        hasAccess = true;
                    }
                    if (hasAccess) {
                        break;
                    }
                };
                
                $.getJSON('/videos/' + jsonVidID, function(data) {
                    $(".videoTitle").html(data.title);
                    $(".description").html(data.description);
                    $.getJSON('/chefs', function(chefs) {
                        chefName = chefs[data.chef_id - 1].firstname + " " + chefs[data.chef_id - 1].lastname;
                        chefShortName = chefs[data.chef_id - 1].shortname;
                        $(".meta").html(data.title + "<br><img src='https://account.topchefuniversityapp.com/resources/tcu/images/lessons/TCU_lesson_" + vidID + "_image@2x.png'></img>" + "<br>Course ID: " + data.course_id + "<br>Chef: " + chefName + "<br><img src='https://account.topchefuniversityapp.com/resources/tcu/images/chefs/chef_small_" + chefShortName + "@2x.png'></img>");
                    });
                });
                    
                function jsbridge(playerId, event, data) {
                    if (player == null) {
                        player = document.getElementById(playerId);
                    }
                    switch(event) {
                        case "onJavaScriptBridgeCreated":
                        listStreams(teststreams,"streamlist");
                        break;
                    case "timeChange":
                    case "timeupdate":
                    case "progress":
                        break;
                    default:
                      console.log(event, data);
                    }
                }
                var urlPrefix;
                if (hasAccess) {
                    urlPrefix = 'https://account.topchefuniversityapp.com/videos/v3/tcu/lesson_full_';
                } else {
                    urlPrefix = 'https://account.topchefuniversityapp.com/videos/v3/tcu/lesson_preview_';
                }
                var urlSuffix = '/playlists/playlist.m3u8?userid=';
                var userID = '<%= session[:userid] %>';
                var res = userID.split("@");
                userID = encodeURIComponent(res[0]);
                userID += '@' + res[1];
                urlSuffix += userID + '&passhash=';
                var userPass = '<%=session[:token]%>';
                urlSuffix += userPass;
                
                var pqs = new ParsedQueryString();
                var parameterNames = pqs.params(false);
                var parameters = {
                    src: encodeURIComponent(urlPrefix + vidID + urlSuffix),
                    autoPlay: "false",
                    verbose: true,
                    controlBarAutoHide: "true",
                    controlBarPosition: "bottom",
                    poster: "images/poster.png",
                    javascriptCallbackFunction: "jsbridge",
                    plugin_hls: "https://account.topchefuniversityapp.com/HLSProviderOSMF.swf",
                    hls_minbufferlength: -1,
                    hls_maxbufferlength: 30,
                    hls_lowbufferlength: 3,
                    hls_seekmode: "SEGMENT_SEEK",
                    hls_startfromlevel: -1,
                    hls_seekfromlevel: -1,
                    hls_live_flushurlcache: false,
                    hls_info: true,
                    hls_debug: false,
                    hls_debug2: false,
                    hls_warn: true,
                    hls_error: true,
                    hls_fragmentloadmaxretry : -1,
                    hls_manifestloadmaxretry : -1,
                    hls_capleveltostage : false
                };
                    
                for (var i = 0; i < parameterNames.length; i++) {
                    var parameterName = parameterNames[i];
                    parameters[parameterName] = pqs.param(parameterName) ||
                    parameters[parameterName];
                }
                
                var wmodeValue = "direct";
                var wmodeOptions = ["direct", "opaque", "transparent", "window"];
                if (parameters.hasOwnProperty("wmode")) {
                    if (wmodeOptions.indexOf(parameters.wmode) >= 0)
                    {
                            wmodeValue = parameters.wmode;
                    }
                    delete parameters.wmode;
                }
                          
                swfobject.embedSWF('https://account.topchefuniversityapp.com/GrindPlayer.swf', 'VideoPlayer', 640, 360, '10.2', 'expressInstall.swf', parameters, {
                    allowFullScreen: true,
                    allowScriptAccess: 'always',
                    bgColor: '#000000',
                    wmode: 'opaque'
                }, {
                    name: 'player'
                });
            </script>
        </div>
    </body>
</html>
