/*****
 * ___  ____ ____ ____    ____ ___ _   _ _    ____ ____
 * |__] |__| [__  |___    [__   |   \_/  |    |___ [__
 * |__] |  | ___] |___    ___]  |    |   |___ |___ ___]
 *
 *****/

/* Web Fonts @import */
//@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Alegreya+Sans:300,400,500,700,800,400italic,500italic|Alegreya:400italic,700italic,400,700|Alegreya+SC:400,700);

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font: $base-font-size $base-font-family;
  line-height: $base-line-height;
  color:$base-color;
  margin:0 auto;
  overflow-x: hidden;
  background:$body-background; // image-url('page-background.png') 
  color:#fff;
}

h1, .alpha, %alpha {
  font:300 2.8em/.9 $heading-font-family;
  color: $heading-color;
  margin-bottom:$half-spacing-unit;
}

h2, .beta, %beta {
  // font-weight: 600;
  // font-size:1.25em;
  // line-height: 1.1;
  // text-transform: uppercase;
  // color: $heading-color;
  font:700 1em/1 $base-font-family;
  text-transform: none;
  color: $subheading-color;
  margin-bottom:0;
}

h3, .gamma, %gamma {
  font-weight: 600;
  font-size:1.2em;
  line-height: 1.1;
  //text-transform: uppercase;
  color: $heading-color;
  // font:500 1.4em/1.1 $subhead-font-family;
  // text-transform: none;
  // color: $subheading-color;
  // @include leader();
}

h4, .delta, %delta {
  @include font-size(22px, false);
  font-weight: 300;
  line-height: 1.1;
  text-transform: none;
  //@include trailer(.5);
  color: $subheading-color;
}

h5, .epsilon, %epsilon {
  @include font-size(20px, false);
  font-weight: 300;
  line-height: 1.1;
  text-transform: none;
  color: $heading-color;
}

h6, .zeta, %zeta {
  @include font-size(17px, false);
  font-weight: 600;
  line-height: 1.1;
  color: $subheading-color;
}

a {
  color:$base-color;
  @include transition(color .2s);

  &:hover, &:focus, &:active {
    color:$color-6;
  }
}

ul img {
  vertical-align: middle;
}

img {
  max-width:100%;
}

.box {
  @extend %box;
  &.push--bottom {
    margin-bottom:$base-spacing-unit*2 !important;
  }
}




header {
  background:$header-color;
  border-bottom:1px solid darken($header-color, 8%);
  padding:$half-spacing-unit;
  position: fixed;
  height:44px;
  width:100%;
  z-index:3;
  box-shadow:$global-box-shadow;

  .btn {
    margin:0;
    z-index:2;
  }

  .brand {
    position: absolute;
    max-height: 30px;
    width: 100%;
    display: block;
    top: 6px;
  }
}

.main-list {
//margin:10px;
overflow:hidden; 
_overflow:visible; 
zoom:1;
margin:0 0 -$base-spacing-unit;

  a {
    //text-align: center;
    //margin-bottom: $base-spacing-unit*1.5;
    border-top:1px solid rgba(#fff, .2);
    border-bottom:1px solid rgba(#000, .2);
    display: block;
    clear:both;
    margin:0;
    //width:120%;
    overflow: hidden;
    padding:$half-spacing-unit;
    text-decoration: none;
    @include transition(all .2s);
    
    &:hover {
      color:$color-6;
      background:rgba(#fff, .05);
    }

    img {
      display: block;
      max-width:16%;
      float: left;
      margin-right:$half-spacing-unit;
      vertical-align: middle;
    }

    h2 {
      vertical-align: middle;
    }
    // &.chef {
      
    //   img {
    //     margin-bottom:0;
    //   }
    // } 
  }
}

.course {
  display: block;
}










// name alert icon classes to match related alert subclasses
// .absicon-alert-success:before { content: "\e600"; }
// .absicon-alert-warning:before { content: "\e601"; }
// .absicon-alert-notice:before { content: "\e602"; }
.alert-success {
  @extend %alert;
}
.alert-error {
  @extend %alert;
  background-color:#F1A2A2;
  border-color:darken(#F1A2A2, 10%);
}


//OVERRIDES
.table--striped tbody tr:nth-of-type(even) {
  background-color: #f8f8f8;
}
.table--striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
h3, .gamma, %gamma {
  margin-bottom:$quarter-spacing-unit;
}
.split {
  overflow: hidden;
}
.grid__fieldset {
  margin-left:0;
}
.input.grid__item {
  padding-left:24px;
}
.split__title {
  @include respond-to(handhelds) {
    float:none;
  }
  margin-top:0;
  padding-top: $quarter-spacing-unit;
}








// BREAKOUT
.media-list {
  list-style:none;
  margin:0; 

  li {
    margin-bottom:$half-spacing-unit;

    @include respond-to(medium-screens) {
      display: inline-block;
      vertical-align: top;
      margin-right:$half-spacing-unit;
    }
  }
  img {
    width:200px;
    @include border-radius;
  }
}



//BREAKOUT
.block-list {
  @extend %box;
  li {
    border-color: #c6c6c6;

    &:last-child {
      border-bottom:0;
    }
  }
  //background:rgba(255,255,255,.4)
}
.flush--bottom {
  margin-bottom:2px !important;
  @extend .desk-three-quarters;
}
.push--top { 
  margin-top: $base-spacing-unit*1.5 !important; 
}


.columnize {
  @include respond-to(handhelds) { width:100%; }
  @include respond-to(medium-screens) { 
    display: inline-block;
    float: left;
    width:49%;
    margin-right: 1%; 
    vertical-align: top;

    &.two-col {
      &:nth-child(odd) {
        margin-right:0;
        margin-left: 1%;
      }
    }
  }
  //@include respond-to(wide-screens) { float: none; }
}







//////////////////////// CUSTOMZ
/* Page Header *//////////////////////////////////////////////////////



/* Misc *////////////////////////////////////////////////////////////
.separted-list {
  list-style:none;
  margin:10px 0 0;
  @extend %box;
  
  li {
    border-bottom:1px solid $inner-border-color;
    padding:$quarter-spacing-unit 0;
    font-weight:500;
    font-size:1.1em;
    
    .fa {
      font-size:1.35em;
      vertical-align: text-bottom;
      padding-right:2px;
      text-shadow:0 1px 0px rgba(0,0,0,.6), 0 0 4px rgba(white,.8);
    }
    
    &:last-child {
      padding-bottom:0;
      border-bottom:0;
    }

    em {
      display: block;
    }
  }
}
.icon--mini {
  width:22px;
}
.note {
  color:$note-color;
  font-weight:300;
}
.subdued {
  color:darken($note-color, 20%);
}





.drilldown {
  @extend %box;
  //display: block;
  text-transform: none;
  text-decoration: none;
  position: relative;
  padding:0;
  font-family:$base-font-family;

  a {
    font-size:1.3em;
    text-decoration: none;
    display: block;
    padding:$half-spacing-unit;
    @include transition(background .2s);
    //@include background-image(linear-gradient(white, white 50%, #f0f0f0 51%, #eee));
    border-radius:$border-radius;
  }

  &:after {
    font-family: FontAwesome;
    content: "\f105";
    color:#000;
    position: absolute;
    z-index:2;
    right:10px;
    top:16px;
  }

  &:hover {
    background:#fff;
  }

  .fa {
    font-size:1.6em;
    vertical-align: middle;
    padding-right:$quarter-spacing-unit;
  }

  &.static {
    background:#fff;
    &:after {
      content:"";
    }
  }
}


.box-header {
  position: absolute;
  top:-28px;
  left:14px;
  height:28px;
  //display: block;
  background:$accent-color;
  padding:$quarter-spacing-unit $half-spacing-unit;
  border-radius:$border-radius $border-radius 0 0;
  //font:700 .9em $subhead-font-family;
  text-transform: uppercase;
  font-weight: 700;
  font-size:.8em;
}













//
.brand-box {
  @extend %box;
  position:relative; 
  padding:10px; 
  margin-bottom:$half-spacing-unit;

  &.expanded {
    width:100%;
    margin:0 0 $half-spacing-unit !important;
    background:rgba(#fff, .8);
  }
  //border:3px solid $light-accent-color;

  // &.status_good {
  //   border-color:$on_track;
  // }
  // &.status_bad {
  //   border-color:$at_risk;
  // }
  // &.status_ugly {
  //   border-color:$under_performing;
  // }

  .media {
    margin-bottom:0;
  }

  .media__img {
    margin-right:$half-spacing-unit;
  }

  .media__body {
    h3 {
      font-size:1.3em;
    }
    h4 {
      font-size:1.1em;
      font-weight: 400;
    }

    .fa {
      font-size:1.3em;
      vertical-align: text-bottom;
      padding-right:2px;
    }
  }

  //@include respond-to(handhelds) {
    //width:100%;
  //}
  
  // @include respond-to(mediumlarge-screens) { 
  //   width:48%;
  //   //display: inline-block;
  //   float: left;
  //   margin-right: $half-spacing-unit;

  //   &:nth-child(even) {
  //     margin-right:0;
  //     width:50%;
  //   }
  // }
}
.brand-thumb {
  border:3px solid #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,.4), inset 0px 3px 6px rgba(0,0,0,.4);
}







// ICONS
@font-face {
  font-family: 'Icomoon';
  font-weight: normal;
  font-style: normal;
  src: font-url('icomoon.eot');
  src: font-url('icomoon.eot?#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf') format('truetype'),
    font-url('icomoon.woff') format('woff'),
    font-url('icomoon.svg#abs') format('svg');
}

[data-icon]:before {
  font-family: Icomoon; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}




















// .radio,
// .checkbox {
//   //@include custom-radio-checkbox;
//   //position: relative;
//   //z-index: 1;
//   //border: 2px solid lighten($body-color, 36%);
// }

// .radio {
//   //border-radius: 100%;
// }

// .checkbox {
//   //border-radius: 2px;
// }




//.select {
  //@include custom-select;
  //@include custom-select-core-styles;
  //height: $base-spacing-unit*2;

  // .arrow-spacer {
  //   border-left: 1px solid $border-color;
  //   background: #fff;
  // }

  // &:hover, &:focus {
  //   .arrow-spacer {
  //     border-left-color: $action-color;
  //     background: desaturate(lighten($action-color, 50%), 10%);
  //   }

  //   .arrow {
  //     border-top-color: $action-color;
  //   }
  // }
//}


// .grid {
//   margin-left: -10px;
//     > .grid__item {
//       padding-left:10px;
//     }
//   }


//////////////////////// Listing Results : Success Stories / Resources 

.results {
  margin-left: -10px;
    > .grid__item {
      padding-left:10px;
    }
  // @include respond-to(medium-screens) {
  //   padding-left:5px;
  // }
  // @include respond-to(wide-screens) {
  //   padding-left:15px;
  // }
  //   &:after {
  //     content:' ';
  //     display: block;
  //     clear:both;
  //   }
  // margin-left: 0;
  .result-block {
    @extend %box;
    padding:10px; 
    margin-bottom:$half-spacing-unit;
    //height: 120px;
    overflow: hidden;
    position:relative;
    // @include respond-to(medium-screens) {
    //   width:48%;
    //   margin:4px;
    //   float:left;
    // }
    // @include respond-to(mediumlarge-screens) { 
    //   width:32%;
    // }

    @include respond-to(handhelds) {
      //height:78px;
      margin-bottom: 5px;
    }
    .grid {
      margin-left:0;
    }
    .result-image-container {
      // width:25%;
      // height:100%;
      // height:60px;
      // width:50px;
      width:100%;
      background-position:center center;
      background-size:cover;
      background-repeat:no-repeat;
      border: 1px solid darken($border-color, 8%);
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-left:-12px;
      &:before{ //http://www.mademyday.de/css-height-equals-width-with-pure-css.html
        content: "";
        display: block;
        padding-top: 100%;
      }
      @include respond-to(handhelds) {
        // width:15%;
        // height:50px;
        // width:40px;
      }
      &.no-border {
        border:none;
        height:auto;
      }
    }
    img {
      font-size: 0.6em;
      line-height: 0.9em;
      border: 1px solid darken($border-color, 8%);
      display: block;
    }
    .resource-link {
      color:$color-3;
      font-size: 1.3em;
      margin:2px 3px 0 0;
      display: inline-block;
      //@include opacity(0.6);
      &:hover {
        color:$color-1;
        //@include opacity(1);
      } 
    }
    .icon-container {
      text-align:center;
      position: relative;
      padding-left:0;
    }
    .filicon {
      font-style: normal;
      width: 100%;
      text-align: center;
      display: block;
      margin-bottom: -15px;
      // @include respond-to(handhelds){
      //   margin-bottom: -12px;
      // }
      &:after {
        color: rgba($color-4, 0.2);
        font-family: FontAwesome;
        font-size: 2.75em;
        line-height: 1.1em;
        content:'\f016';
        @include respond-to(handhelds) {
          font-size: 1.6em;
        }
      }
      &.document {
        &:after {
          content:'\f0f6';
        }
      }
      &.presentation {
        &:after {
          content:'\f080';
        }
      }
      &.spreadsheet {
        &:after {
          content:'\f0ce';
        }
      }
    }
    .file-type {
      // width:35px;
      border-radius:3px;
      color:$color-2;
      background-color: rgba($color-4, 0.8);;
      padding:6px 6px 4px 6px;
      font-size: 0.75em;
      line-height: .75em;
      display: inline-block;
      margin-left: 17px;
      text-transform: uppercase;
      // text-align: center;
      // position:relative;
      // margin:-20px 60% 0 40%;
      // right: -1%;
      // bottom:0;
      @include respond-to(handhelds){
        font-size: 0.5em;
        line-height: 1.1em;
        padding:2px 4px 1px 4px;
        margin-left: 9px;
        // margin:-9px 70% 0 30%;
        // width:23px;
        // right: 3%;
      }
    }
    .result-deets {
      padding-left:10px;
      // display: inline-block;
      // width:75%;
      // @include respond-to(mediumlarge-screens) {
      //   width:80%;
      // }
      .btn {
        // position: absolute;
        // bottom:2px;
        // width:auto;
        background-color:darken($color-2, 10%);
        border-color:darken($color-2, 20%);
        margin-bottom: 0;
        &:active {
          top:auto;
        }
        &:hover {
          color:#ffffff;
        }
        .fa {
          margin-left: 5px;
          margin-right: 5px;
          padding:0;
        }
      }
    }
    .result-title {
      font-size: 1.25em;
      line-height: 1em;
      // @include font-size(14px, $line-height: 1);
      // @include respond-to(medium-screens) {
        // @include font-size(18px, $line-height: 1);
      // }
      // @include respond-to(wide-screens) { 
      //   // @include font-size(20px, $line-height: 1);
      //   max-height: 70px;
      //   overflow: hidden;
      // }
    }
    .result-info-container {
      // margin-top: 20px;
      // font-size: 0.9em;
      // line-height: 1.1em;
    }
    .result-attributes-container {
      list-style-type: none;
      margin:0;
      padding:0;
      // font-size: 0.9em;
      // line-height: 1.1em;
      li {
        padding:1px 0;
        &:first-child {
          margin-bottom: 8px;
        } 
      }
      .key {
        opacity: 0.5;
        font-size: 0.8em;
        display: inline-block;
        margin-right:2px;
        font-weight: 700;
      }
      .value {
        display: inline-block;
      }
    }
  }
  
  &.people-results {
    margin-bottom: $base-spacing-unit;
    
    .result-block {
      background:#fff;
    }
  }
}




























//////////////////////// Search Form and Search Listing Results
.search-toggle {
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
  font-size: $base-font-size;
  // margin-bottom: 10px;
  // display: block;
}

.grid__item {
  input[type="submit"] {
    margin-top: 10px;
  }
}

.search-form-container {
  @extend %box;
  margin-bottom: 10px;
  &.collapse {
    display: none;
  }
  label {
    font-size:$base-font-size;
    text-transform:capitalize;
  }
}

fieldset {
    label {
    font-size:$base-font-size;
    //color:$base-color;
    //color: lighten($body-color, 20%);

    //font-weight: normal;
    text-transform:capitalize;
  }
}

.form-container {
  .chosen-container {
    width: 32%!important;
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }
  }
}

.user_avatar {
  color: $color-3;
  font-size:$base-font-size;
  font-weight: normal;
  text-transform:capitalize;

  img {
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid darken($border-color, 8%);
  }
  #user__destroy {
    width:auto;
  }
}

h3.search-results-heading {
  margin:$half-spacing-unit 0 $base-spacing-unit;
  font-weight: 500;
}

.pagination {
  li {
    margin:0;
    padding:0 5px;
    a {
      text-decoration: none;
      background-color:#ddd;
      border:1px solid #aaa;
      padding:2px 5px;
      margin: 0 3px;
      border-radius:3px;
    }
    &.current {
      padding:2px 5px;
      margin: 0 6px;
      border-radius:3px;
      background-color:$color-4;
      border-color:$color-4;
      color:#fff;
    }
  }
}



@media only screen and (min-width: 767px) {
  .bullet-chart {
    width:45%;
  }
}

//////// Fancy Box Custom Modal Style

.fancymodal {
  display: none;
}

.def-list {
  margin: $half-spacing-unit 0 0 0;

  h3 {
    margin-bottom:0;
    padding:$base-spacing-unit 0 $quarter-spacing-unit;
  }
}

.def-list_d {
  margin: 0;
  padding-bottom:0;
  font-weight: bold;
  border-bottom:1px dotted #ddd;
}

.def-list_t {
  margin:0 0 $half-spacing-unit;
  padding-top:$quarter-spacing-unit;
}














// DISCUSSION ON DASHBOARD
body.cover:after, body.cover .mm-page:after {
  content:"";
  background:rgba(0,0,0,.8);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
}
body.cover:after {
  background:none;
}

#discussion {
  //background:$base-color; 
  //background:image-url("saz_back.jpg") #F5F5F4;
  border-top:16px solid $base-color;
  padding:0px; 
  position: fixed; 
  max-height:80%; 
  bottom:-47px; 
  width:100%; 
  left:0; 
  z-index:12;
  box-shadow: -10px 3px 6px rgba(0,0,0,.4);

  .cover &  {
    overflow: scroll; 
  }

  &.open {
    //background:image-url("saz_back.jpg") #F5F5F4;
  }

  #discussion-toggle {
    @extend .btn;
    bottom:46px;
    margin:0 auto;
    left:0;
    display: block;
    background:$base-color;
    box-shadow: none !important;
    width:120px !important;
    text-align: center;
  }

  &.open #discussion-toggle {
    bottom:6px;
  }
}

.discuss {
  padding:0 $base-spacing-unit $base-spacing-unit;
}

@media all and (min-width: 800px){

  body {
    font-size:22px;
  }
}

@media all and (min-width: 900px){

  body.cover .mm-page:after {
    background:rgba(0,0,0,.8);
  }
  .discuss {
    padding:$base-spacing-unit*2;
  }
}
