/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    true;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    true;
$use-matrix:        false;
$use-split:         true;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       true;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */



$break-small: 481px;
$break-medium: 700px;
$break-large: 1024px;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

/* color palette */
$color-1: #194a95;
$color-2: #fff;
$color-3: #fff;
$color-4: #fff;
$color-5: #173664;
$color-6: lighten(#2265cb, 18%);
//$color-4: adjust-hue($color-3, -18deg);
//$color-5: #222;

/* alerts */
$success-color: #6ba643;    // green
$notice-color: #d9cb2a;     // yellow
$warning-color: #9d0e10;    // red


/* color abstractions */
$base-color: $color-4;
$action-color: $warning-color;
$header-color: $color-5;
$accent-color: $color-1;
$neutral-accent-color: $color-3;
$light-accent-color: $color-2;
  $note-color: darken($color-2, 24%);

$body-background-color: $color-1;
$body-color: $color-4;
$light-body-color: $color-3;

$heading-color: $body-color;
$subheading-color: $light-body-color;

/* social colors */
$facebook: #3b5998;
$twitter: #55acee;
$google: #dd4b39;

/* typography */
$base-font-size: 17px;
$base-line-height: 21px;
$base-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font-family: 'atrament-web', $base-font-family;
$subhead-font-family: $heading-font-family;

/* box model decoration */
$border-radius: 6px;
$border-color: lighten($neutral-accent-color, 35%);
  $inner-border-color: lighten($neutral-accent-color, 45%);
$table-border-color: $border-color;

/* spacing units */
$base-spacing-unit: 20px;
$half-spacing-unit: $base-spacing-unit/2;
$quarter-spacing-unit: $base-spacing-unit/4;
$main-padding: $base-spacing-unit;
//$half-padding: $half-spacing-unit;

$header-background: $color-4;
$body-background: $color-1;
//$footer-background: $color-4;

/* Basic typography */
//$body-link-font-family: $heading-font-family;
$body-link-color: $color-3;
$body-hover-link-color: lighten($color-3, 15%);
$body-visited-link-color: adjust-hue($color-3, 45deg);

/* Basic button styling */
$button-1-background-color: $color-4;
$button-1-border-color: darken($button-1-background-color, 8%);
$button-1-border-radius: $border-radius;


$global-box-shadow: 0px 0px 14px transparentize(#000, 0.3);
  $global-box-shadow-light: 0px 1px 5px transparentize(lighten($base-color, 25%), 0.7);
$global-box-shadow-active: 0 1px 1px 0 transparentize(lighten($base-color, 25%), 0.2);
$global-box-shadow-inset: inset 0 1px 1px 0 lighten($base-color, 50%);
$global-box-shadow-inset-active: inset 0 1px 1px 1px lighten($base-color, 40%);

//$button-1-padding: 0.5em;

// $button-2-background-color: $color-4;
// $button-2-border-color: darken($button-2-background-color, 8%);
// $button-2-border-radius: $button-1-border-radius;
// $button-2-padding: $button-1-padding;

// $button-3-background-color: $color-5;
// $button-3-border-color: darken($button-3-background-color, 8%);
// $button-3-border-radius: $button-1-border-radius;
// $button-3-padding: $button-1-padding;



/* Footer */
//$footer-padding: $main-padding;
//$footer-background: $footer-background;

//$footer-color: white;