// all the comment goodness here.


// Commments
.commentlist {

  .commentlist_comment-meta {
    font-size:.9em;
    color:lighten($neutral-accent-color, 20%);
  }
  //@extend %box;
  //margin:0;
  //list-style:none;
}


.cl-list {
  margin-bottom:15px;
  .cl-item {
    padding:10px 5px;
    border-bottom:1px transparentize($color-3, 0.5) dashed;
    @include respond-to(mediumlarge-screens) {
      padding:15px 10px;;
    }
    &:nth-child(even){
      background-color:transparentize(#ffffff, 0.7);
    }
  }
  // .cl-image-container {
  //  @include respond-to(medium-screens) {
  //    padding-left:20px;
  //  }
  //  @include respond-to(mediumlarge-screens) {
  //    padding-left:15px;
  //  }
  // }
  // .cl-image {
  //  display: block;
  //  height:50px;
  //  width: 50px;
  //  margin:0 auto;
  //  @include respond-to(handhelds) {
  //    height:45px;
  //    width: 45px;
  //  }
  //  @include respond-to(wide-screens) {
  //    height:65px;
  //    width: 65px;
  //  }
  //  border: 1px solid darken($border-color, 8%);
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  &:hover {
  //    border-color:#ffffff;
  //    box-shadow: 0px 0 5px rgba(#000, .5);
  //  }
  // }
  .cl-image {
    img {
      width: 90%;
      margin:0 auto;
      border: 1px solid darken($border-color, 8%);
      &:hover {
        border-color:#ffffff;
        box-shadow: 0px 0 5px rgba(#000, .5);
      }
    }
  }
  p {
    margin:0;
  }
  .cl-created {
    color:$color-3;
    font-size: 0.75em;
    line-height: 1.1em;
  }
  .cl-content-container {
    padding-left:10px;
  }
  .cl-content {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1.05em;
  }
}

.comment_content {
  .text {
    font-size: 0.9em;
    line-height: 1.11em;
  }
}