// all the Sasses here.

// @include respond-to(medium-screens) {
// }
// @include respond-to(wide-screens) { 
// }



.id-title {
  width:100%;
  margin:0;
  padding: 20px 0;
  border: 1px solid darken($border-color, 8%);
  border-radius:$border-radius;
  box-shadow: 0px 2px 3px rgba(#000, .1);
  background-color:#fff;
  // position: absolute;
  // bottom:0;
  @include respond-to(handhelds) {
    // margin-left: -10px;
  }
  @include respond-to(medium-screens) {
    margin:60px 0 0 0;
    // border-top:1px $color-1 solid;
    // background-color:rgba(255,255,255,.9);
  }
  @include respond-to(wide-screens) {
    margin-top:80px;
  }
  h1 {
    font-size: 1.5em;
    @include respond-to(handhelds) {
      // margin-top: 10px;
    }
    @include respond-to(medium-screens) {
      margin-top: 10px;
      font-size: 1.87em;
    }
    @include respond-to(wide-screens) {
      font-size: 3em;
    }
  }
  h4 {
    font-size: 1.05em;
    @include respond-to(handhelds) {
      margin-bottom: 10px;
    }
    @include respond-to(medium-screens) {
      font-size: 1.2em;
    }
    @include respond-to(wide-screens) {
      font-size: 1.4em;
    }
  }
  .id-avatar-container {
    background-color:#ffffff;
    border:1px $color-1 solid;
    border-radius:$border-radius;
    margin: 0 0 10px 0;
    width:100%;
    padding:5px;
    @include respond-to(medium-screens) {
      // padding:5px;
      // display: inline-block;
      margin-top:-60px;
    }
    @include respond-to(wide-screens) {
      padding:10px;
      margin-top:-90px;
    }
    .id-avatar {
      width:100%;
      background-position:center center;
      background-size:cover;
      background-repeat:no-repeat;
      display: inline-block;
      vertical-align: top;
      &:before{ //http://www.mademyday.de/css-height-equals-width-with-pure-css.html
        content: "";
        display: block;
        padding-top: 100%;
      }
      // background-size:cover;
      // @include respond-to(medium-screens) { 
      //   width:70px;
      //   height:70px;
      // }
      // @include respond-to(mediumlarge-screens) { 
      //   width:100px;
      //   height:100px;
      // }
      // @include respond-to(wide-screens) { 
      //   width:140px;
      //   height:140px;
      // }
    }
  }
  .id-user {
    h3 {
      @include respond-to(medium-screens) {
        padding-left:12px;
      }
      &.id-username {
        @include respond-to(handhelds) {
          font-size: 1.05em;
        }
      }
    }
    .id-label {
      @include respond-to(medium-screens) {
        padding-left:12px;
      }
    }
  }
}


.users {
  .id-card {
    // margin-bottom: 20px;
    // border: 1px solid darken($border-color, 8%);
    // border-radius:$border-radius;
    // box-shadow: 0px 2px 3px rgba(#000, .1);
    // @include respond-to(handhelds) {
    //   background-image:none!important;
    //   background-color:rgba(255,255,255,.3);
    // }
    // @include respond-to(medium-screens) {
    //   background:url(/assets/event-cover.jpg) center center no-repeat rgba(255,255,255,.3);
    //   background-size:cover;
    //   min-height:320px;
    //   // position: relative;
    //   overflow:hidden;
    // }
    .handheld-padding {
      @include respond-to(handhelds) {
        padding-left:10px;
      }
      // @include respond-to(medium-screens) {
      //   padding-left:0;
      // }
    }
  }
  .id-label {
    margin: 10px 0 0 0;
    color:$color-3;
    font-size: 0.8em;
    line-height: 1.2em;
    @include respond-to(handhelds) {
      font-size: 0.85em;
    }
    @include respond-to(wide-screens) {
      font-size: 0.7em;
      line-height: 1.2em;
    }
    &.no-margin {
      margin-top: 0;
    }
    // &:not(:first-of-type) {
    //  margin-top: 10px;
    // }
  }
  h3 {
    margin:2px 0;
    color:#000000;
    font-size: 1em;
    line-height: 1.1em;
    @include respond-to(medium-screens) {
      font-size: 1.1em;
      line-height: 1.1em;
    }
    // @include respond-to(wide-screens) {
    //   font-size: 1em;
    //   line-height: 1.06em;
    // }
  }
  // .id-stat-container {
  //   margin-right: -10px;
  // }
  .stats-grid {
    margin-top: 20px;
    padding-right:18px;
  }
  .id-stat {
    // width:90%;
    text-align:center;
    border:1px $color-1 solid;
    border-radius:$border-radius;
    background-color:#ffffff;
    @include respond-to(handhelds) {
      width:auto;
      padding:5px 0;
      margin-right: 0;
      border:none;
      border-radius:0;
      background-color:transparent;
      border-top:1px transparentize($color-3, 0.9) solid;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .id-label {
      margin:0;
      background-color:$color-1;
      padding:2px;
      color:#ffffff;
      @include respond-to(handhelds) {
        color:$color-3;
        font-size: 1.25em;
        line-height: 1.06em;
        text-align: left;
        float: left;
        background-color:transparent;
        padding-left:0;
      }
      @include respond-to(medium-screens) {
        min-height: 30px;
      }
      @include respond-to(mediumlarge-screens) {
        min-height: 0;
      }
    }
    h2 {
      // color:$success-color;
      font-size: 1.2em;
      line-height: 1.08em;
      margin:0 0 8px 0;
      @include respond-to(handhelds) {
        float: right;
        margin:0;
        font-size: 1.25em;
      }
      @include respond-to(mediumlarge-screens) { 
        font-size: 1.65em;
        line-height: 1.08em;
      }
      @include respond-to(wide-screens) { 
        font-size: 2em;
        line-height: 1.06em;
      }
    }
  }
  .id-attributes-container {
    list-style-type: none;
    margin:0 0 10px 0;
    padding:0;
    .key {
      opacity: 0.5;
      font-size: 0.9em;
      display: inline-block;
      margin-right:2px;
      font-weight: 700;
    }
    .value {
      display: inline-block;
    }
  }
  .bio{
    @extend .block-list;
    margin-top:$half-spacing-unit;
  }
}






