 .wrapper {
     /*width: 100%;*/
     margin-top: 50px;
     overflow: hidden; /* add this to contain floated children */
 }
 .first {
     /*width: 500px;*/
     /*height: 900px;*/
     /*overflow-y:scroll;*/
     /*margin-left: 100px;*/
     /*margin-right: 100px;*/
     border-right: dotted;
     width:50%;
     float: left;
 }
 .second {
     /*max-width: 600px;*/
     float: left;
     width:50%;
 }
 .lessonImage{
     /*margin-top: 100px;*/
     /*float: left;*/
 }